---
layout: default
permalink: /media/
---
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active"><a href="#images" role="tab" data-toggle="tab">Images</a></li>
    <li role="presentation"><a href="#videos" role="tab" data-toggle="tab">Videos</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content top-margin-30">
    <div role="tabpanel" class="tab-pane active" id="images">
      <div class="row">
        {% include image.html base='/images/media/newphoto' title='Photo 1' %}
        {% include image.html base='/images/media/21edited' title='Photo 2' %}
        {% include image.html base='/images/media/28croppedreduced' title='Photo 3' %}
        {% include image.html base='/images/media/9editedreduced' title='Photo 4' %}
        {% include image.html base='/images/media/15edited' title='Photo 5' %}
        {% include image.html base='/images/media/20cropped' title='Photo 6' %}
        {% include image.html base='/images/media/11edited' title='Photo 7' %}
        {% include image.html base='/images/media/16reduced' title='Photo 8' %}
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="videos">

      <iframe width="560" height="315" src="https://www.youtube.com/embed/LcqxSIN-o6I?start=4" frameborder="0"
              allowfullscreen></iframe>


    </div>
  </div>

</div>
