<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li{% if page.path == 'index.html' %} class="active"{% endif %}>
          <a href="/">Home</a>
        </li>
        <li{% if page.path == 'aboutme.html' %} class="active"{% endif %}>
          <a href="/aboutme/">About Me</a>
        </li>
        <li{% if page.path == 'events.html' or page.path == 'previous_events.html' %} class="active"{% endif %}>
          <a href="/events/">Events</a>
        </li>
        <li{% if page.path == 'media.html' %} class="active"{% endif %}>
          <a href="/media/">Media</a>
        </li>
        <li{% if page.path == 'funstuff.md' %} class="active"{% endif %}>
          <a href="/personal/">Personal</a>
        </li>
        <li{% if page.path == 'contact.md' %} class="active"{% endif %}>
          <a href="/contact/">Contact</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
