<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container main">
      <ul class="nav nav-pills">
        <li {% if page.path == 'events.html' %} class="active"{% endif %}>
          <a href="/events/">Upcoming</a>
        </li>
        <li {% if page.path == '2019.html' %} class="active"{% endif %}>
          <a href="/2019/">2019</a>
        </li>
        <li {% if page.path == '2018.html' %} class="active"{% endif %}>
          <a href="/2018/">2018</a>
        </li>
        <li {% if page.path == '2017.html' %} class="active"{% endif %}>
          <a href="/2017/">2017</a>
        </li>
        <li {% if page.path == '2016.html' %} class="active"{% endif %}>
          <a href="/2016/">2016</a>
        </li>
        <li {% if page.path == '2015.html' %} class="active"{% endif %}>
          <a href="/2015/">2015</a>
        </li>

      </ul>
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
